/* app style */

body {
  font-family: times;
  color: #494b37;
  background: rgba(202, 174, 118, 0.52);
  opacity: 50%;
}

header {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: #fff;
  background: #caae76;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

fieldset {
  padding: 10px 20px;
}

input[type="text"]{
  padding: 7px;
  border: solid 1px #000;
  border-radius: 3px;
}

input[type="text"]:focus {
  background: #000;
  color: #fff;
}

input[type="number"]{
  padding: 7px;
  border: solid 1px #000;
  border-radius: 3px;
}

input[type="number"]:focus {
  background: #000;
  color: #fff;
}

button {
  margin-left: 20px;
  margin-bottom: 10px;
  background: #494b37;
  color: #fff;
  padding: 8px 18px;
  border-radius: 3px:
  border: none;
  cursor: pointer;
}

table {
  font-family: helvetica;
  margin-left: 20px;
}

thead{
  background: #9d542c;
  color: white;
  padding: 20px;
  border: solid 1px white;
}

td, th {
  padding: 20px;
  border: solid 1px #000;
}
