/* app style */
/* app styles */

body {
  font-family: helvetica
}

header {
  text-align: center;
  background: #caae76;
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

fieldset {
  padding: 20px
}

input[type="text"]{
  padding: 7px;
  border: solid 1px #000;
  border-radius: 3px;
}

input[type="text"]:focus {
  background: #000;
  color: #fff;
}

button {
  margin-left: 20px;
  margin-bottom: 10px;
  background: #9d542c;
  color: #fff;
  padding: 8px 18px;
  border-radius: 3px:
  border: none;
  cursor: pointer;
}

table {
  margin-left: 20px;
}

thead{
  background: #494b37;
  color: white;
  padding: 20px;
  border: solid 1px #000;
}

td, th {
  padding: 20px;
  border: solid 1px #000;
}
