/* app style */

body {
  font-family: times;
  background:rgba(202, 174, 118, 0.52);
}

header {
  text-align: center;
  background: #caae76;
  color: #fff;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  height: 200px;
  margin-bottom: 30px;
}

header section {
  width: 960px;
  margin: 0 auto;
}

header section img {
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}

header li {
  color: #fff;
  display: inline-block;
  margin-top: 75px;
  margin-right: 50px;
}

main {
    width:960px;
    margin: 30px auto;
}


h1 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 8px;
}


.sub-banners li {
  float: left;
  margin-right: 30px;
  margin-top: 30px;
}

.sub-banners li:last-child {
  margin-right: 0px;
}
.featured {
  clear:both;
}

.featured img {
  margin-top: 30px;
  margin-right: 30px:
}



div {
  float: left;
  margin-top: 30px;
  width: 300px;
}

h2 {
  font-size: 20px;
  color: #494b37;
  margin-bottom: 8px;
}

p {
  line height: 20px;
}

button {
  margin-left: 20px;
  margin-bottom: 10px;
  background: #9d542c;
  color: #fff;
  padding: 8px 18px;
  border-radius: 3px:
  border: none;
  cursor: pointer;
}

footer {
  clear: both;
  text-align: center;
  background: #caae76;
  color: #fff;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  height: 150px;
  margin-top: 30px;
  padding: 20px;
}

footer section img{
  float: right;
  margin-top: 12px;
  margin-right: 20px;
}
 footer h3 {
   font-family: 'Gloria Hallelujah', cursive;
   font-size: 20px;
   margin-top: 30px;
 }
